// @media (max-width: 768px) {
//   .sidebar {
//     display: none;
//   }
// }

@keyframes swell {
  0%,
  100% {
    font-size: 32px;
  }
  50% {
    font-size: 40px;
  }
}

@mixin noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin sarpanch {
  font-family: "Sarpanch", serif;
  font-weight: 400;
  font-style: normal;
}

$orange-peel: #f7941d;
$warm-red: #d86a27;
$vintage-blue: #64a39d;
$green-apple: #7ebb59;
$flat-black: #333132;

body {
  font-family: "proxima-nova", sans-serif;
  margin: 0;
  background-color: $green-apple;
}

.hero {
  background: url("./photos/bottle-bar-cropped.jpg") no-repeat center;
  background-size: cover;
  height: 450px;
  display: flex;
  // border-bottom: $flat-black 25px solid;
  justify-content: center;
  align-items: center;
}

.logo-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ebb59;
  height: 275px;
  width: 550px;
  border-radius: 60%;
  border: 10px $flat-black solid;
  box-shadow: $vintage-blue 9px 5px, $vintage-blue -9px 5px,
    $vintage-blue -9px -5px, $vintage-blue 9px -5px;
  background-color: $vintage-blue;
}

.logo {
  width: 400px;
  height: 350px;
}

.slogan {
  @include sarpanch;

  font-size: 42px;
  color: $warm-red;
  width: 100%;
  background-color: $flat-black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.information {
  display: flex;
  justify-content: space-between;
  background-color: $vintage-blue;
  align-items: center;
}

.detail-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details {
  @include noto-sans();

  display: flex;
  flex-direction: column;
  color: $flat-black;
  font-size: 32px;
  text-shadow: $green-apple 3px 3px;
  margin: 30px;
}

.icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0 30px;
  text-shadow: $green-apple 3px 3px;
  color: $flat-black;
}

.insta {
  flex-direction: row;
  align-items: center;
  justify-content: left;

  &-icon {
    animation: swell 3s linear infinite;
    margin-left: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}

.photo {
  height: 550px;
}
